body {
	margin: 0;
	padding: 0;
	background-color:#222;
}
canvas {
	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background: radial-gradient(circle, #fff 0%, #888 100%);*/
}
#shadow{
	display: none;
}
